<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rochester&family=Rubik+Moonrocks&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rochester&family=Rubik+Moonrocks&family=Yomogi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Rochester&family=Rubik+Moonrocks&family=Yomogi&display=swap" rel="stylesheet">

    <% if Rails.env.production? %>
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@Erika_jpn_328" />
      <meta property="og:url" content="https://start-your-day-right-8g2b.onrender.com/" />
      <meta property="og:title" content="Start Your Day Right" />
      <meta property="og:description" content="ポジティブな英文を読んで気持ちよく1日をスタートしよう" />
      <meta property="og:image" content="<%= image_url "StartYourDayRight.png" %>" />
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
